* {
	margin: 0;
	padding: 0;
	font-family: ו;
}

div {
	width: 50%;
	height: 250px;
	border: 1px solid rgb(202, 205, 158);
	margin: 50px auto;
}

p {
	font-size: 1em;
	font-weight: bold;
	background: rgb(202, 205, 158);
	padding: 0.2em;
}

ul {
	list-style-type: none;
	font-size: 0.8em;
}

li {
	padding: 0.7em;
	padding-left: 1.75em;
	border-bottom: 1px dashed black;
	background: url(download.jpg) no-repeat;
	background-size: 2em 2em;
	background-position: 0 0.1em;
}

li>span {
	diaplay: inlie-block;
	float: right;
	width: 12em;
}